.user_info{
    display: flex;
    align-items: center;

    box-sizing: border-box;

    padding: 15px 0;
}

.pic {

    margin: 0 5px;

    width: 25px;
    height: 25px;

    background: black;

    box-sizing: border-box;

    border-radius: 50%;
}