.movie_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: center;

    box-sizing: border-box;
    border-radius: 25px;

    width: 18%;
    min-width: 350px;

    margin: 1% 1%;

    background: rgba(255, 255, 255, 0.27);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 10.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(255, 255, 255, 0.27)


}

.movie_card img{
    width: 100%;
    border-radius: 25px;

    box-shadow: 0 5px 7px lightcyan;
}

.movie_card p {
    margin: 2px;
}

.movie_card a:link, a:visited, a:active {
    text-decoration: none;
}

svg {
    width: 30px;
}

